doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/codemirror/lib/codemirror.css')
        link(rel='stylesheet', href='/libs/codemirror/theme/monokai.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block header