extends header

block header
    include topbar
    div.edit-body.home-body
        span.full-height
        div.main-links
            a.home-link.create-link(href="/create", target="_self") 创建代码
            a.home-link.list-link(href="/list", target="_self") 查看列表

    include footer
